@model CK2Events.ViewModels.IndexViewModel
@{
    ViewData["Title"] = @Model.game;
}
<span>Click file name to view one file or tick multiple and press "View" at the bottom of the page to view many.</span>
<form asp-controller="Home" asp-action="Graph" method="post">
<table class="table">
@foreach(var file in Model.files){
    <input type="hidden" name="game" value="@Model.game"
  <tr>
      <td><input type="checkbox" name="files" value="@file"/></td>
      <td><a asp-controller="" 
   asp-action="Graph" 
   asp-route-files="@file"
   asp-route-game="@Model.game">
    @file</a></td></tr>
  
}
</table>
<button class="btn" type="submit">View</button>
</form>