@model CK2Events.ViewModels.ValidationViewModel
<div class="row"><h5>Folders found:</h5>
<ul>
    @foreach(var folder in Model.folders){
        <li>@folder</li>
    }
</ul>
</div>
<h5>Parser errors</h5>
<table class="table">
    <tr><th>File</th><th>Parse error</th></tr>
    @foreach(var error in Model.parserErrorList){
        <tr><td>@error.file</td><td>@error.error</td></tr>
    }
</table>
<h5>Validation errors</h5>
<table class="table">
    <tr><th>Type</th><th>Error</th><th>Line</th></tr>
@foreach(var result in Model.validationErrorList){
    <tr><td>@result.category</td><td>@result.error</td><td>@result.position</td></tr>
}
</table>
<h5>All files</h5>
<table class="table">
    <tr><th>File</th><th>Pass</th></tr>
@foreach(var result in Model.allFileList){
    <tr><td>@result.file</td><td>@result.pass</td></tr>
}
</table>